<header class="navbar">
    <a class="navbar__brand" href="index.html">
        <img src="imagenes/Logo_Paneros.png" alt="Logo de Panadería Paneros">
        <span>Panadería <strong>Paneros</strong></span>
    </a>
    <button class="navbar__toggle" id="menuToggle" aria-label="Abrir menú">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <ul class="navbar__menu" id="navbarMenu">
        <li><a class="nav-link" data-page="index" href="index.html">Inicio</a></li>
        <li><a class="nav-link" data-page="productos" href="productos.html">Productos</a></li>
        <li><a class="nav-link" data-page="sobrenosotros" href="sobrenosotros.html">Sobre Nosotros</a></li>
        <li><a class="nav-link" data-page="contacto" href="contacto.html">Contacto</a></li>
    </ul>
</header>
